$primary-color: lightblue;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

html,
body {
  height: 100%;
  font-family: "Courier New", monospace;
  transition: background 1s ease;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

#quote-box-container {
  display: flex;
  flex-direction: column;
  width: 580px;

  #quote-box {
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
    border: 1px solid white;
    background-color: white;
    @include border-radius(15px);

    #quote-sign {
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      color: $primary-color;
      transition: color 1s ease;
    }

    #text-container {
      display: flex;
      justify-content: center;
      #text {
        font-size: 28px;
        font-weight: bold;
        min-height: 50px;
        width: 80%;
      }
    }

    #new-quote {
      width: 120px;
      height: 50px;
      align-self: center;
      background-color: $primary-color;
      border-color: $primary-color;
      color: white;
      transition: background-color 1s ease;
      transition: border-color 0.2s;
      @include border-radius(10px);
    }

    #tweet-quote {
      text-align: center;
      display: none;
    }
  }

  #footer {
    text-align: center;
    padding-top: 15px;
    color: white;
  }
}

p {
  text-align: center;
  transition: color 1s ease;
}

a {
  text-decoration-color: white;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.fadeout {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fadein {
  opacity: 1;
  transition: opacity 0.5s ease;
}
